.taha {
    width: 100%;
    font-size: 15px;
    padding: 6px 0px;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: #119744;
    text-shadow: var(-primary-tshadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
  }
.login{
    width: 50%;
    font-size: 15px;
    padding: 6px 0px;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: #119744;
    text-shadow: var(-primary-tshadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.signup{
    width: 50%;
    font-size: 15px;
    padding: 6px 0px;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: #119744;
    text-shadow: var(-primary-tshadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}